<div class="LoginPage">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="title-form">{{ 'LOGIN.TITLE' | translate}}</h1>
        <mat-form-field>
            <input #pseudo matInput placeholder="{{ 'LOGIN.PSEUDO' | translate }}" [formControl]="ctlPseudo" required appSetFocus/>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('pseudoUsed')">This pseudo not exists</mat-error>
            <mat-error class="field-error" *ngIf="ctlPseudo.hasError('custom')">{{ctlPseudo.errors.custom}}</mat-error>
        </mat-form-field>
        <mat-form-field appareance="outline">
            <input matInput [type]=" hide ? 'password' : 'text'" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" [formControl]="ctlPassword" required />
            <mat-icon matsuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlPassword.hasError('custom')">{{ctlPassword.errors.custom}}</mat-error>
        </mat-form-field>
        <div>
            <!-- <button [disabled]="loading" mat-stroked-button class="buttonForm">{{ 'ACTIONS.LOGIN' | translate }}</button> -->
            <!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFN
        DQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGY
        JRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRV
        saqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9H
        MaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0f
        MDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFK
        SAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCg
        AAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABA
        AAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
            <button [disabled]="loading" class="buttonForm" mat-button [disabled]="loginForm.pristine || loginForm.invalid || loginForm.pending ">
              {{ 'ACTIONS.LOGIN' | translate }}
            </button>
        </div>

    </form>
</div>
<!-- <app-footer></app-footer> -->