$colorCardContent:#b3e5fc;
$colorCardHeader: #4fc3f7;
$backgroundPage:#e1f5fe;
$colorButton:#03a9f4;
$colorButtonDelete:#ff1744;
$colorButtonEdit:#1976d2;
$colorCardgoogle:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#03a9f4), to(#b3e5fc));