<div class="page">
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-sm-6 btn-add">
            <div class="col-12">
                <button mat-raised-button class="largeButton" (click)="create()">Add new Team</button>
            </div>
        </div>
    </div>
    <h1>Mes team</h1>
    <p *ngIf='teams.length==0'>Cliquez
        <button mat-button color="primary" (click)="create()">ici</button > pour créer une team et constituer une équipe</p>
    <div class="card-container">
        <mat-card class="card" *ngFor='let team of teams'>
            <div class="flex">
            <div>
                <a class="nav-link text-dark" [routerLink]="['/show-team/'+team.teamId]">
                    <mat-card-content class="card-content">
                        <p>{{team.teamname}}</p>
                    </mat-card-content>
                </a>
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>toc</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/show-team/'+team.teamId]"><mat-icon>remove_red_eye</mat-icon><span>show</span></button>
            <button mat-menu-item (click)="update(board)"><mat-icon>edit</mat-icon><span>Edit</span></button>
            <button mat-menu-item (click)="delete(team)"><mat-icon>delete</mat-icon><span>Delete</span></button>
        </mat-menu>
</div>
</div>
</mat-card>
</div>

<h1 *ngIf='allteams.length!=0'>toutes les teams</h1>
<div class="card-container">
    <mat-card class="card" *ngFor='let team of allteams '>
        <div class="flex">
            <div>
                <a class="nav-link text-dark" [routerLink]="['/show-team/'+team.teamId]">
                    <mat-card-content class="card-content">
                        <p>{{team.teamname}}</p>
                    </mat-card-content>
                </a>
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>toc</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/show-team/' +team.teamId]"><mat-icon>remove_red_eye</mat-icon><span>show</span></button>
                    <button mat-menu-item (click)="update(team)"><mat-icon>edit</mat-icon><span>Edit</span></button>
                    <button mat-menu-item (click)="delete(team)"><mat-icon>delete</mat-icon><span>Delete</span></button>
                </mat-menu>
            </div>
        </div>
    </mat-card>
</div>
</div>